//підключення шрифтів
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');

//імпорт файлу обнулення//
@import "reset";

//імпорт файлу спільних модулів, стилів і т.д//
@import "commons";

//імпорт бургер меню
@import "burger";

//шмпорт всіх класів слік-слайдера//
@import "slickAllstyles";

//стилі для анімації

//=====================================================================

body{
   font-family: Raleway, sans-serif;
}
//for section header============================================

.header {
   transition: background-color 0.3s ease;
   transition: background-color 1s ease, padding 0.3s ease;
   &.scrolled{
      background-color: #000;
      padding: 5px 0px ;
      transition: background-color 1s ease, padding 0.3s ease;

   }
   position: fixed;
   z-index: 5;
   width: 100%;
   padding: 38px 0px;
   @media(max-width:768px){
      padding: 5px 0px;
   }
   &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

  
}
.menu-list {
   li{
      &.active{
         a{
            color: var(--white, #FFF);
         }
         border-bottom: 1px solid #fff;
      }
      transition: all 0.3s ease;
      padding: 6px;
      border: 1px solid transparent;
      @media(min-width: 768px){
         &:hover{
            border-bottom: 1px solid #F4900F;
            transition: all 0.3s ease;            
            a{
               color: var(--orange, #F4900F);
               transition: all 0.3s ease;
            }
         }
      }
   }
   a{
      color: var(--text-secondary, #6B6B6B);
      font-size: 14px;
      font-weight: 400;
      line-height: 140%; /* 19.6px */
      text-transform: uppercase;
      padding-bottom: 6px;
      transition: all 0.3s ease;
      
      @media(max-width: 768px){
         color: #fff;
      }
   }
}

//=======================================================
//for section promo

.promo {
   background: url('../img/mainbg.avif')0 0 no-repeat;
   background-size: cover;
   @include adaptiv-value(padding-top,212,130);
   padding-bottom: 40px;

   &__container {
   }

   &__label {
      color: var(--text-secondary, #6B6B6B);
      font-size: 24px;
      font-weight: 400;
      line-height: 140%; /* 33.6px */
   }

   &__title {
      margin-bottom: 57px;
   }

   &__actions {
      display: flex;
      column-gap: 72px;
      @include adaptiv-value(margin-bottom,150,60);
   }

   &__actions-item {
      @include adaptiv-value(margin-bottom, 100, 40);
      button{
         position: relative;
         z-index: 1;
         
      }
      p{
         color: var(--text-secondary, #6B6B6B);
         font-size: 14px;
         font-weight: 400;
         line-height: 22px; /* 157.143% */
         max-width: 242px;
         a{
            text-decoration: underline;
            color: var(--text-secondary, #6B6B6B);
            font-size: 14px;
            font-weight: 400;
            line-height: 22px; /* 157.143% */
            transition: all 0.3s ease;
            @media (min-width: 768px){
               &:hover{
                  color: #FFF;
                  transition: all 0.3s ease;
               }
            }
         }
      }
      img{
         max-width: 100%;
         border-radius: 55px;
      }
   }

   &__slider {
      position: relative;
      min-width: 0;
      border-radius: 10px;
      background: #1A1A1A;
      padding: 50px 30px;
      @media(max-width:930px){
         padding: 10px 30px; 
      }
      & .slick-arrow.slick-next{
         font-size: 0;
         position: absolute;
         top: 50%;
         left: 470px;
         @media(max-width:930px){
            left: 90%;
            top: 100%;
             
         }
         &::before{
            position: absolute;
            top: 0;
            left: 0;
            content: ">>";
            color: #F4900F;
            font-size: 36px;
         }
      }
      & .slick-arrow.slick-prev{
         font-size: 0;
         position: absolute;
         top: 50%;
         left: 0;
         @media(max-width:930px){
            
            top: 100%;
             
         }
         &::before{
            position: absolute;
            top: 0;
            left: 0;
            content: "<<";
            color: #F4900F;
            font-size: 36px;
         }
      }
   }

   &__slider-item {
      display: flex;
      column-gap: 120px;
      justify-content: space-between;
      min-width: 0px;
      max-width: 100%;
      @media(max-width:930px){
         display: block; 
      }
   }

   &__slider-item-name {
      color: var(--white, #FFF);
      text-align: center;
      @include adaptiv-font(28,20);
      font-weight: 300;
      line-height: 140%; /* 39.2px */
      flex-basis: 50%;
      max-width: 380px;
      min-width: 0;
      padding-left: 30px;
      @media(max-width:930px){
         margin: 0 auto 20px auto;
         
      }
   }

   &__slider-item-text {
      color: var(--white, #FFF);
      @include adaptiv-font(18,14);
      font-weight: 400;
      line-height: 30px; /* 166.667% */
      flex-basis: 50%;
      min-width: 0;
   }
}


.item {

   &__name-title {
      position: relative;
      min-width: 0;
      &::after{
         content: "";
         position: absolute;
         left: 50%;
         bottom: -30px;
         width: 107px;
         height: 1px;
         background-color: #F4900F;
         transform: translateX(-50%);
      }
   }

   &__name-label {
      color: var(--orange, #F4900F);
      font-size: 18px;
      font-weight: 700;
      line-height: 140%; /* 25.2px */
      text-transform: uppercase;
      margin-top: 50px;
      min-width: 0;
   }
}
//========================================================
//for section values

.values {
   padding-top: 30px;
   background-color: #000;
   &__container {
   }

   &__title {
      margin-bottom: 75px;
   }

   &__body {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
   }

   &__body-item {
      padding: 50px 20px 50px 30px;
      @include adaptiv-value(padding-top,50,20);
      @include adaptiv-value(padding-bottom,50,20);
      border-radius: 10px;
      background: #1A1A1A;
      max-width: 280px;
      transition: all 0.3s ease;
      @media(min-width:768px){
         &:hover{
            background-color:#F4900F;
            box-shadow: 5px 15px 50px 0px rgba(244, 144, 15, 0.15);
            transition: all 0.3s ease;
         }
      }
   }

   &__body-item-title {
      color: var(--white, #FFF);
      @include adaptiv-font(24,20);
      font-weight: 600;
      line-height: 32px; /* 133.333% */
      text-transform: uppercase;
      margin-bottom: 30px;
   }

   &__body-item-text {
      color: var(--white, #FFF);
      @include adaptiv-font(18,14);
      font-weight: 400;
      line-height: 30px; /* 166.667% */
      
   }
}
//=======================================================
//for section choose

.choose {
   &::after{
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 50px;
      background: rgb(0,0,0);
      background: linear-gradient(180deg, rgba(0,0,0,1) 17%, rgba(255,255,255,0) 100%);
   }
   padding-top: 100px;
   @include adaptiv-value(padding-top,100,60);
   @include adaptiv-value(padding-bottom,100,60);
   position: relative;
   background: url('../img/bg2.avif') 50% 60% no-repeat;
   background-size: cover;

   &::before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #1A1A1A;
      opacity:0.8;
      
   }

   &__container {
   }

   &__title {
      margin-bottom: 70px;
      
   }

   &__body {
      position: relative;
      z-index: 2;
      display: flex;
      flex-wrap: wrap;
      padding: 0, 10px;
      justify-content: center;
      column-gap: 60px;
      row-gap: 40px;
      align-items: center;
   }

   &__body-item {
      max-width: 340px;
   }

   &__body-item-title {
      color: var(--white, #FFF);
      text-align: center;
      @include adaptiv-font(24,20);
      font-weight: 600;
      line-height: 32px; /* 133.333% */
      text-transform: uppercase;
      margin-bottom: 35px;
   }

   &__body-item-text {
      color: var(--white, #FFF);
      text-align: center;
      
      @include adaptiv-font(18,14);
      font-weight: 400;
      line-height: 30px; /* 166.667% */
   }
}
//======================================================
//for section opt

.opt {
   background: radial-gradient(50% 96.72% at 50% 56.7%, #262525 0%, #181818 100%);
   @include adaptiv-value(padding-top,100,60);
   &__container {
   }

   &__title {
   @include adaptiv-value(margin-bottom,95,60);
   }

   &__body {
      display: flex;
      column-gap: 108px;
      row-gap: 30px;
      justify-content: center;
      flex-wrap: wrap;
   }

   &__body-item {
      max-width: 484px;
   }

   &__img {
      text-align: center;
      position: relative;
      top: -30px;
      img{
         max-width: 100%;
         opacity: 0.1;
      }
   }

   ul{
      padding-left: 38px;
   }

   li{
      position: relative;
      color: var(--white, #FFF);
      @include adaptiv-font(20,16);
      font-weight: 300;
      line-height: 140%; /* 28px */
      &:not(:last-child){
         @include adaptiv-value(margin-bottom,30,15);
      }
      &::before{
         position: absolute;
         content: "";
         top: 50%;
         left: -30px;
         width: 6px;
         height: 6px;
         background: var(--orange, #F4900F);  
         transform: translateY(-50%);    
      }
   }
}
.opt__button{
   text-align: center;
   position: relative;
   top: -200px;
   @media(max-width: 500px){
      top: -110px;
   }
}
//=====================================================
//for section key

.key {
   padding-top: 70px;
   background: #0F0F0F;
   padding-bottom: 70px;
   &__container {
   }

   &__title {
      margin-bottom: 90px;
   }

   &__body {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 50px;
      row-gap: 30px;
      margin-bottom: 50px;
   }

   &__body-item {
      max-width: 345px;
   }

   &__body-item-icon {
      text-align: center;
      margin-bottom: 38px;
   }

   &__body-item-title {
      color: var(--white, #FFF);
      text-align: center;
      @include adaptiv-font(24,18);
      font-weight: 700;
      line-height: 34px; /* 141.667% */
      text-transform: uppercase;
      margin-bottom: 20px;
   }

   &__body-item-text {
      color: var(--white, #FFF);
      text-align: center;
      @include adaptiv-font(18,14);
      font-weight: 400;
      line-height: 30px; /* 166.667% */
   }

   &__button {
      text-align: center;
   }
}
//=====================================================
//for footer

.footer {
   background: rgba(26, 26, 26, 0.95);
   &__container {
      @include adaptiv-value(padding-top,55,25);
      @include adaptiv-value(padding-bottom,55,25);
      display: flex;
      column-gap: 150px;
      row-gap: 30px;
      justify-content: center;
      align-items: top;
      flex-wrap: wrap;
   }

   &__item {
      max-width: 279px;
   }

   &__item-title {
      color: var(--white, #FFF);
      @include adaptiv-font(20,16);
      font-weight: 600;
      line-height: 36px; /* 180% */
      text-transform: uppercase;
      margin-bottom: 31px;
      text-align: center;
   }

   &__item-adress {
      color: var(--white, #FFF);
      @include adaptiv-font(18,14);
      font-weight: 400;
      line-height: 30px; /* 166.667% */
      text-align: center;
   }

   &__item-img {
      border-radius: 50%;
      overflow: hidden;
      img{
         max-width: 100%;
      }
   }

   &__item-links {
      text-align: center;
      li:not(:last-child){
         margin-bottom: 10px;
      }
      a{
         color: var(--white, #FFF);
         @include adaptiv-font(20,16);
         font-weight: 600;
         line-height: 36px; /* 180% */
         text-transform: uppercase;
         transition: all 0.3s ease;
         @media(min-width: 768px){
            &:hover{
               color: #F4900F;
               transition: all 0.3s ease;
            }
         }
      }
   }

   &__item-social-title {
      color: var(--white, #FFF);
      @include adaptiv-font(20,16);
      font-weight: 600;
      line-height: 36px; /* 180% */
      text-transform: uppercase;
      @include adaptiv-value(margin-bottom,75,30);
      text-align: center;
   }

   &__item-social-icons {
      display: flex;
      gap: 10px;
      div{
         width: 35px;
         height: 35px;
         border-radius: 50px;
         background: var(--orange, #F4900F);
         display: flex;
         justify-content: center;
         align-items: center;
         transition: all 0.3s ease;
         @media(min-width:768px){
            &:hover{
               background-color: #7a4c0f;
               transition: all 0.3s ease;
            }
         }
         img{
            max-width: 24px;
            max-height: 24px;
         }

      }
   }

   &__bot {
      background: #0F0F0F;
      padding: 22px 0px;
   }

   &__rights {
      color: var(--text-secondary, #6B6B6B);
      @include adaptiv-font(16,12);
      font-weight: 600;
      line-height: 140%; /* 22.4px */
   }

   &__policy {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include adaptiv-value(column-gap,95,40);
      a{
         color: var(--text-secondary, #6B6B6B);
         @include adaptiv-font(16,12);
         font-weight: 600;
         line-height: 140%; /* 22.4px */
         transition: all 0.3s ease;
         @media(min-width: 768px){
            &:hover{
               color: #F4900F;
               transition: all 0.3s ease;
            }
         }
      }
   }
}
.footer-bot__container{
   display: flex;
   flex-wrap: wrap;
   column-gap: 30px;
   row-gap: 10px;
   justify-content: space-between;
   align-items: center;
}
//================================================
/////////////////////////////////////////////

//for page services____________

//for section register

.register {
   background: url('../img/servicebg.webp')0 0 no-repeat;
   background-size: cover;
   @include adaptiv-value(padding-top,212,130);
   @include adaptiv-value(padding-bottom,150,50);
   &__title {
      margin-bottom: 30px;
   }

   &__text {
      color: var(--text-secondary, #dad1d1);
      font-size: 18px;
      font-weight: 400;
      line-height: 30px; /* 166.667% */
      margin-bottom: 70px;
      background-color: #0e0a0a91;
      padding: 10px;
      border-radius: 3px;
   }

   &__button {
   }
}
//===========================================================
//for section why

.why {
   background: #0F0F0F;
   padding-top: 30px;
   @include adaptiv-value(padding-bottom,100,40);
   &__container {
   }

   &__title {
      margin-bottom: 130px;
   }

   &__body {
      display: flex;
      justify-content: space-between;
      column-gap: 75px;
      row-gap: 30px;
      @media(max-width:768px){
         flex-wrap: wrap;
         justify-content: center;
      }
   }

   &__body-img {
      max-width: 660px;
      img{
         opacity: 0.8;
         max-width: 100%;
         aspect-ratio: 16/9;
         box-shadow: 2px 3px 10px 10px #ff79268f;
      }
     
   }

   &__body-content {
      max-width: 580px;
   }

   &__body-content-title {
      color: var(--white, #FFF);
      font-variant-numeric: lining-nums proportional-nums;
      @include adaptiv-font(32,20);
      font-weight: 500;
      line-height: 140%; /* 44.8px */
      text-transform: uppercase;
      max-width: 480px;
      margin-bottom: 10px;
   }

   &__body-content-label {
      position: relative;
      color: var(--text-secondary, #6B6B6B);
      font-size: 16px;
      font-weight: 400;
      line-height: 30px; /* 187.5% */
      margin-bottom: 60px;
      &::after{
         position: absolute;
         content: "";
         bottom: -30px;
         left: 0;
         width: 50px;
         height: 5px;
         background-color: #FF7926;
      }
   }

   &__body-content-text {
      color: var(--white, #FFF);
      font-size: 16px;
      font-weight: 400;
      line-height: 30px; /* 187.5% */
      margin-bottom: 48px;
      p:not(:last-child){
         margin-bottom: 30px;
      }
   }

   &__body-content-button {
      @include adaptiv-value(margin-bottom,100,30);
   }
}

.why2{
   background: #1A1A1A;
   @include adaptiv-value(padding-top,100,40);
   @include adaptiv-value(padding-bottom,100,40);
}
.why3{
   background: #0F0F0F;
   @include adaptiv-value( padding-top,100,40);
}
//==========================================================
//for section company

.company {
   position: relative;
   background: url('../img/serviceimg3.avif') 0 0 no-repeat;
   background-size: cover;
   padding-top: 100px;
   padding-bottom: 70px;
   &::before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #1A1A1A;
      opacity:0.9; 
      z-index: 1;
   }

   &__container {
      position: relative;
      z-index: 2;
   }

   &__title {
      margin-bottom: 100px;
   }

   &__body {
      margin-bottom: 80px;
   }

   &__body-item{
      &:not(:last-child){
         margin-bottom: 70px;
      }
   }

   &__body-item-title {
      display: flex;
      gap: 20px;
      margin-bottom: 35px;
      p:first-child{
         color: var(--orange, #F4900F);
         font-size: 74px;
         font-weight: 200;
         line-height: 32px; /* 43.243% */
         text-transform: uppercase;
      }
      p:last-child{
         color: var(--white, #FFF);
         font-variant-numeric: lining-nums proportional-nums;
         @include adaptiv-font(32,24);
         font-weight: 500;
         line-height: 140%; /* 44.8px */
         text-transform: uppercase;
      }
   }

   &__body-item-content {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: space-between;
      align-items: top;
   }

   &__body-item-content-left {
      position: relative;
      padding-left: 80px;
      max-width: 480px;
      &::before{
         position: absolute;
         content: "";
         top: 0;
         left: 30px;
         width: 2px;
         height: 90%;
         background-color: #FF7926;
         transform: translateY(5%);
      }
      p:first-child{
         color: var(--orange, #F4900F);
         font-size: 18px;
         font-weight: 700;
         line-height: 30px; /* 166.667% */
      }
      p:last-child{
         color: var(--white, #FFF);
         @include adaptiv-font(18,14);
         font-weight: 400;
         line-height: 30px; /* 166.667% */
      }
   }

   &__body-item-content-right {
      max-width: 480px;
      p:first-child{
         color: var(--orange, #F4900F);
         font-size: 18px;
         font-weight: 700;
         line-height: 30px; /* 166.667% */
      }
      p:last-child{
         color: var(--white, #FFF);
         font-size: 18px;
         font-weight: 400;
         line-height: 30px; /* 166.667% */
      }
   }

   &__button {
      text-align: center;
   }
}
//=============================================================
//for section works

.works {
   position: relative;
   background: url('../img/worksbg.webp') 0 0 no-repeat;
   background-size: cover;
   @include adaptiv-value(padding-top,100,40);
   @include adaptiv-value(padding-bottom,70,40);
   z-index: 2;
   &::before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #1A1A1A;
      opacity:0.2; 
      z-index: 1;
   }
   &__container {
      position: relative;
      z-index: 2;
   }

   &__title {
      margin-bottom: 90px;
   }

   &__body {
      display: flex;
      flex-wrap: wrap;
      column-gap: 45px;
      justify-content: center;
      row-gap: 70px;
      margin-bottom: 40px;
   }

   &__body-item {
      max-width: 355px;
      @media(max-width:768px){
         text-align: center;
      }
   }

   &__body-item-icon {
      margin-bottom: 35px;
   }

   &__body-item-title {
      color: var(--white, #FFF);
      @include adaptiv-font(24,18);
      font-weight: 700;
      line-height: 38px; /* 158.333% */
      text-transform: uppercase;
      margin-bottom: 20px;
      max-width: 230px;
      @media(max-width:768px){
         text-align: center;
         max-width: 100%;
      }
   }

   &__body-item-text {
      color: var(--white, #FFF);
      @include adaptiv-font(18,14);
      font-weight: 400;
      line-height: 30px; /* 166.667% */
   }

   &__button {
      text-align: center;
      
   }
}
//======================================================
//for section ready

.ready {
   padding-top: 52px;
   padding-bottom: 50px;
   background: var(--amber, linear-gradient(180deg, #FF7926 0%, #EE9D00 100%));
   &__container {
      display: flex;
      flex-wrap: wrap;
      column-gap: 100px;
      row-gap: 50px;
   }

   &__content {
      max-width: 700px;
   }

   &__content-title {
      color: var(--white, #FFF);
      @include adaptiv-font(46,24);
      font-weight: 400;
      line-height: 54px; /* 117.391% */
      @include adaptiv-value(line-height,54,34);
      margin-bottom: 20px;
      
   }

   &__content-text {
      color: var(--white, #FFF);
      @include adaptiv-font(24,18);
      font-weight: 500;
      line-height: 32px; /* 133.333% */
   }

   &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
   }
}

.white {
   color: var(--text-secondary, #6B6B6B);
   background: #FFF;
}
//======================================================
/////////////////////////////////////////////////////

//for page why cyprus________________________________

//for section setup

.setup {
   background: url('../img/servicebg.webp')0 0 no-repeat;
   background-size: cover;
   @include adaptiv-value(padding-top,212,130);
   padding-bottom: 150px;
   &__container {
   }

   &__title {
      text-align: center;
      margin-bottom: 20px;
   }

   &__text {
      color: var(--text-secondary, #c7c2c2);
      text-align: center;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px; /* 166.667% */
      max-width: 770px;
      margin: 0 auto;
      background-color: #0e0a0a91;
      padding: 10px;
      border-radius: 3px;
      margin-bottom: 38px;
      p:not(:last-child){
         margin-bottom: 20px;
      }
   }

   &__button {
      text-align: center;
   }
}
//=====================================================

//for section is

.is {
   background: #0F0F0F;
   padding-top: 50px;
   padding-bottom: 100px;
   &__container {
   }

   &__title {
      margin-bottom: 35px;
   }

   &__label {
      color: var(--text-secondary, #6B6B6B);
      text-align: center;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px; /* 166.667% */
      max-width: 500px;
      margin: 0 auto;
      margin-bottom: 75px;
   }

   &__body {
      display: flex;
      column-gap: 91px;
      row-gap: 20px;
      flex-wrap: wrap;
      justify-content: center;
   }

   &__body-item {
      color: var(--white, #FFF);
      font-size: 20px;
      font-weight: 300;
      line-height: 140%; /* 28px */
      width: 290px;
      text-align: center;
      p{
         position: relative;
         &::before{
            position: absolute;
            content: "";
            top: 50%;
            left: -30px;
            width: 6px;
            height: 6px;
            background: var(--orange, #F4900F);  
            transform: translateY(-50%);    
         }
      }
      p:not(:last-child){
         margin-bottom: 20px;
      }
   }
}
//=============================================

//for section advantages

.advantages {
   padding-top: 80px;
   padding-bottom: 50px;
   background: #1A1A1A;
   &__container {
   }

   &__title {
      margin-bottom: 100px;
   }

   &__body {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 50px;
   }

   &__body-item {
      margin-bottom: 65px;
   }

   &__body-item-title {
      display: flex;
      gap: 20px;
      margin-bottom: 35px;
      
      p:first-child{
         color: var(--orange, #F4900F);
         font-size: 74px;
         font-weight: 200;
         line-height: 32px; /* 43.243% */
         text-transform: uppercase;
      }
      p:last-child{
         color: var(--white, #FFF);
         font-variant-numeric: lining-nums proportional-nums;
         @include adaptiv-font(32,24);
         font-weight: 500;
         line-height: 140%; /* 44.8px */
         text-transform: uppercase;
         max-width: 424px;
      }
   }

   &__body-item-text {
      color: var(--white, #FFF);
      @include adaptiv-font(18,14);
      font-weight: 400;
      line-height: 30px; /* 166.667% */
      position: relative;
      padding-left: 80px;
      max-width: 680px;
      &::before{
         position: absolute;
         content: "";
         top: 0;
         left: 30px;
         width: 2px;
         height: 90%;
         background-color: #FF7926;
         transform: translateY(5%);
      }
   }

   &__button {
      text-align: center;
   }
}
//=================================================
////////////////////////////////////////////////////


//for page faq___________________________

.faq {
   padding-top: 212px;
   padding-bottom: 100px;
   background: url('../img/faqbg.avif') 0 0/100% no-repeat;
   background-size: cover;
   &__container {
   }

   &__title {
      margin-bottom: 100px;
   }

   &__body {
   }

   &__body-item { 
      border-radius: 10px;
      background: #1A1A1A;
      padding: 35px 100px;
      @include adaptiv-value(padding-top, 35,10);
      @include adaptiv-value(padding-bottom, 35,10);
      @include adaptiv-value(padding-left, 100,10);
      @include adaptiv-value(padding-right, 100,10);
      overflow: hidden;
      &:not(:last-child){
         margin-bottom: 16px;
      }
   }

   &__body-item-title {
      cursor: pointer;
      position: relative;
      color: var(--white, #FFF);
      @include adaptiv-font(20,16);
      font-weight: 700;
      line-height: 32px; /* 160% */
      display: flex;
      gap: 15px;
      justify-content: space-between;
      img{
         transition: all 0.3s ease;
      }
      &.active{
         img{
            transform: rotate(180deg);
            transition: all 0.3s ease;
         }
      }
   }

   &__body-item-title-text {
   }

   &__body-item-title-icon {
   }

   &__body-item-text {
      color: var(--main-white, #EBEBEB);
      @include adaptiv-font(18,14);
      font-weight: 400;
      line-height: 30px; /* 166.667% */
      padding-top: 40px;
      position: absolute;
      transform: translateX(-100%);
		visibility: hidden;
      transition: transform 0.3s ease;
      &.opened{
         position: inherit;
			transform: translateX(0%);
			visibility: visible;
         transition: transform 0.3s ease;
      }
   }
}
////////////////////////////////////////////

//for page contacts___________________________
//for section contacts

.contacts {
   @include adaptiv-value(padding-top,300,120);
   padding-bottom: 100px;
   background: url('../img/faqbg.avif') 0 0/100% no-repeat;
   background-size: cover;
   &__container {
   }

   &__form {
      background-color: #1A1A1A;
      display: flex;
      padding: 80px 100px;
      @include adaptiv-value(padding-top,80,0);
      @include adaptiv-value(padding-bottom,80,20);
      @include adaptiv-value(padding-left,100,20);
      @include adaptiv-value(padding-right,100,20);
      justify-content: space-between;
      column-gap: 40px;
      row-gap: 40px;
      @media(max-width:768px){
         flex-wrap: wrap;
         justify-content: center;
      }
      label{
         color: var(--text-secondary, #6B6B6B);
         font-size: 18px;
         font-weight: 400;
         line-height: 30px; /* 166.667% */
      }
      input{
         @include adaptiv-value(width,481,250);
         color: var(--white, #FFF);
         font-size: 18px;
         font-weight: 400;
         line-height: 30px; /* 166.667% */
         background: #333;
         padding: 10px 20px;
         border: 1px solid transparent;
         margin-bottom: 20px;
         &:focus{
            border: 1px solid #FF7926;
         }
      }
      textarea{
         height: 110px;
         @include adaptiv-value(width,481,250);
         padding: 10px 20px;
         background: #333;
         color: var(--white, #FFF);
         font-size: 18px;
      }
   }

   &__form-actions {
      @media(max-width:768px){
         order: 2;
      }
   }

   &__form-button {
      margin-top: 45px;
   }

   &__form-content {
      @media(max-width:768px){
         order: 1;
      }
   }

   &__form-content-title {
      color: var(--orange, #F4900F);
      text-align: right;
      font-variant-numeric: lining-nums proportional-nums;
      @include adaptiv-font(64,30);
      font-weight: 500;
      line-height: 140%; /* 89.6px */
      margin-bottom: 30px;
      @media(max-width:768px){
         text-align: center;
      }
   }

   &__form-content-text {
      color: var(--text-secondary, var(--white, #6B6B6B));
      @include adaptiv-font(18,14);
      font-weight: 400;
      line-height: 30px;
      text-align: right;
      max-width: 350px;
      @media(max-width:768px){
         text-align: center;
      }
      a{
         color: var(--orange, var(--white, #F4900F));
         @media(min-width: 768px){
            &:hover{
               text-decoration: underline;
            }
         }
      }
   }
}
//////////////////////////////////////////////////////////





